@charset "UTF-8";
@import url(./layout.css);

/* icons */
.ico-greeting{background:url("./../images/icon/color/icon_hello.svg");}
.ico-baseball{background:url("./../images/icon/color/icon_baseball.svg");}
.ico-medal{background:url("./../images/icon/color/icon_medal.svg");}

/* Header */
[class^=tit-d0]{display:-webkit-flex;display:flex;justify-content:center;align-items:center;gap:8px;color:var(--replace-333333);margin-bottom:12px;font-weight:700;}
[class^=tit-d0] > [class^=ico-]{display:block;width:24px;height:24px;background-position:center;background-size:contain;background-repeat:no-repeat}
.tit-d01{font:700 3.2rem/3.2rem "Pretendard";}
.tit-d02{font-size:2.4rem;}
.header{margin-bottom:36px;padding-top:6px;text-align:center;}
.header p{color:var(--replace-666666);font:400 1.5rem/2.25rem "Pretendard";}
.header.center{text-align:center;margin-bottom:40px;}
.progress-bar + .header {padding:0;}
/* content */
.steps{margin-bottom:16px;}
.step-card{display:-webkit-flex;display:flex;flex-direction:column;gap:16px;width:100%;height:fit-content;}
.step-card .step-content{display:-webkit-flex;display:flex;justify-content:flex-start;align-items:center;width:100%;padding:24px 16px;min-height:115px;border:2px solid var(--border-color-prime);border-radius:16px;}
.step-card .step-content > i{flex:none;display:block;width:40px;height:40px;background-position:center;background-size:contain;background-repeat:no-repeat}
.step-card .step-content:nth-of-type(1) > i{background-image:url("./../images/icon/color/icon_number1.svg");}
.step-card .step-content:nth-of-type(2) > i{background-image:url("./../images/icon/color/icon_number2.svg");}
.step-card .step-content:nth-of-type(3) > i{background-image:url("./../images/icon/color/icon_number3.svg");}
.step-card .step-content dl{position:relative;display:-webkit-flex;display:flex;flex-direction:column;justify-content:space-between;width:100%;}
.step-card .step-content dl .step-title{color:var(--replace-333333);font:600 1.6rem/1.8rem "Pretendard";}
.step-card .step-content dl .step-title + .step-desc{margin-top:5px;color:var(--replace-666666);font:400 1.4rem/1.96rem "Pretendard";}
.step-card .step-content > i + dl {margin-left:16px;}

.info-box{display:-webkit-flex;display:flex;justify-content:center;align-content:center;width:100%;padding:10px 0;background-color:#F8F9FF;border:1px solid #E0E7FF;border-radius:12px;}
.info-box > p{position:relative;display:-webkit-flex;display:flex;justify-content:flex-start;align-items:flex-start;font:500 1.2rem/2.24rem "Pretendard";color:#667EEA;text-align:center}
.info-box > p:before{content:'';display:block;width:16px;height:17px;margin:0.3rem 0.3rem 0 0;background:url("./../images/icon/color/icon_bulb.svg") center/contain no-repeat;}

[class^=btn-comm-]{display:-webkit-flex;display:flex;justify-content:center;align-items:center;width:100%;background-color:#fff;border:none}

[class^=btn-comm-].sm{height:51px;border-radius:12px;}
[class^=btn-comm-].sm > span{font:400 1.5rem/1.8rem "Pretendard";}
[class^=btn-comm-].mid{border-radius:16px;}
[class^=btn-comm-].lg{border-radius:24px;}

[class^=btn-comm-] + .skip-link{margin-top:16px;}
[class^=btn-comm-] > .icon {display:block;width:20px;height:20px;}
[class^=btn-comm-] > .icon + span {margin-left:12px;}

.btn-comm-prime{display:-webkit-flex;display:flex;justify-content:center;align-items:center;width:100%;padding:20px 0;background:linear-gradient(135deg, #667eea 0%, #764ba2 100%);border:none;border-radius:12px;box-shadow:4px 4px 10px 0px rgba(0,0,0,0.25)}
.btn-comm-prime span{font:700 1.7rem/2rem "Pretendard";color:#fff;}
.btn-comm-line{border:1px solid var(--border-color-default);}
.btn-comm-default.kakao{background-color:#FEE500;}

[class$="-link"]{display:-webkit-flex;display:flex;width:100%;justify-content:center;align-items:center;width:100%;}
[class$="-link"] > a{text-decoration:none;}
[class$="-link"] > a > span{position:relative;font:500 1.4rem/1.4rem "Pretendard";}
.skip-link > a > span{color:var(--replace-999999);}
.skip-link > a > span:after{content:'';position:absolute;left:0;bottom:-1px;width:100%;border-bottom:1px solid var(--replace-999999);}
.back-link{margin-top:36px;}
.back-link > a > span{color:var(--font-color-prime);}
.back-link > a > span:after{border-bottom:1px solid var(--border-color-prime);}

.progress-bar{position:relative;display:-webkit-flex;display:flex;justify-content:space-between;align-items:center;gap:8px;margin-bottom:36px;width:12rem;height:4px;}
.progress-bar .progress-step{display:block;width:calc(100% / 4);height:100%;background-color:var(--bg-color-prime);border-radius:2px;}
.progress-bar .progress-step.active{background-color:var(--bg-color-prime);}
.progress-bar .progress-step.active ~ .progress-step{background-color:var(--bg-color-default);}

.btn-wrap{display:-webkit-flex;display:flex;flex-direction:column;align-items:center;gap:16px;width:100%;}